body{
    background: #424b9c;
    font-family:"arial";
    padding:0px;
    margin: 0px;
}
#container{
    background: #cde0ee;
    padding: 30px;
    width: 1000px;
    margin: 0 auto;
}
h1{
    font-family:"times new roman";
    background:#89bbde;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    border: 2px solid #3884ba;
}
h2{
    font-family:"times new roman";
    margin-left:32px;
}
@keyframes animation{
    0% {margin-left: 0px}
    80%{margin-left:40px}
    100%{margin-left:20px}
}
h3{
    background: #89bbde;
    border: 5px dashed #3884ba;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    width:120px;
    text-align:center;
    animation-name: animation;
    animation-duration: 2s;
}
p{
    line-height: 2.5em;
}
img{
    width:300px;
    float:left;
    margin-right: 15px;
    border-radius: 15px;
}
.highlight{
    background: #c1b3f3;
}
.bold{
    text-decoration: underline;
    font-weight:bold;
}
#pic1{
    float: right;
    margin-left: 15px;
    border-radius:15px;
    width:250px;
}

a:link{
    color: #2678b3;
}
a:visited{
    color: #9406d6;
}
a:hover{
    color:#b952ac;
}

#sidebar{
    background-color:antiquewhite;
    width: 250px;
    float: right;
    border: 2px solid #3884ba;
    padding: 5px;
    padding-top: 5px;
    line-height: 2em;
}

#sidebar h3{
    /*will only affect the h3 in the sidebar*/
    border: 3px solid #3884ba;
}

/*media queries is like for if the device has a specific condition the website looks different
we're doing for screen size*/
@media (max-width:1200px){
    #container{
        background-color: #d5cdee;
        width: 900px;
    }
}
@media (max-width:992px){
    #container{
        width:100%;
        background: #e9cdee;
        padding: 0px;
        padding-bottom: 10px;
        padding-top:30px;
    }
 
    #pic1{
        width:225px;
        margin-right: 10px;
    }
    p{
        margin: 10px;
    }
    #sidebar{
        float:left;
        margin-left: 10px;
        margin-right: 20px;
    }
    img{
        margin-left: 10px;  
    }
}
@media (max-width:768px){   
    #container{
        background: #eecdde;
    }
    #sidebar{
        display: none;
    }
    #pic1{
        float:none;
        width: 200px;
        display:block;
        margin: 0 auto;
    }
    img{
        float:none;
        width:250px;
        display:block;
        margin:0 auto;
        border:4px solid #e370a6;
    }
}