body{
    background: #cde0ee;
    font-family:"arial";
    padding:25px;
}
h1{
    font-family:"times new roman";
    background:#89bbde;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    border: 2px solid #3884ba;
}
h2{
    font-family:"times new roman";
    margin-left:32px;
}
h3{
    background: #89bbde;
    border: 5px dashed #3884ba;
    border-radius: 15px;
    padding: 10px;
    margin: 30px;
    width:120px;
    text-align:center;
}
p{
    line-height: 2.5em;
}
img{
    width:300px;
    float:left;
    margin-right: 15px;
    border-radius: 15px;
}
.highlight{
    background: #c1b3f3;
}
.bold{
    text-decoration: underline;
    font-weight:bold;
}
#pic1{
    float: right;
    margin-left: 15px;
    border-radius:15px;
    width:250px;
}

a:link{
    color: #2678b3;
}
a:visited{
    color: #9406d6;
}
a:hover{
    color:#b952ac;
}

#sidebar{
    background-color:antiquewhite;
    width: 250px;
    float: right;
    border: 2px solid #3884ba;
    padding: 5px;
    padding-top: 5px;
    line-height: 2em;
}

#sidebar h3{
    /*will only affect the h3 in the sidebar*/
    border: 3px solid #3884ba;
}

/*media queries is like for if the device has a specific condition the website looks different
we're doing for screen size*/
@media (max-width:1200px){
    #container{
        background-color:blueviolet;
        width: 800px;
    }
}
@media (max-width:992px){
    #container{
        width:100%
        /*makes page stretch all the way*/
    }
}
@media (max-width:768px){
    #sidebar{
        display: none;
    }
    img{
        clear:both;
    }
}

/*want links to be diff color and something happens when you hover
media queries are importanttt, want 4 sizes */